button{
  border-radius: 30px;
  font-weight: bold;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
}
table{
  background-color:#636e72;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

img {
  width: 50px;
  right: 50px;
  display: block;
  margin: auto;
}

.center{
  text-align: center;
}
.body{
  background-color:#00b894;
  width: 100%;
  right: 100%;
  font-family: initial;
  font-style: italic;
  color:black;
}


