<body class="body">
  <div class="card">
    <div class="card-header body">
      <div class="float-left">
        <h4>Cursos</h4>
      </div>
      <div class="float-right">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['cadastro']"
        >
          Novo Projeto
        </button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">
          Atualizar
        </button>
      </div>
    </div>
    <div class="card-body">
      <table
        class="table table-hover"
        *ngIf="cursos$ | async as cursos; else loading"
      >
        <thead>
          <tr class="center">
            <th>Nome do Projeto</th>
            <th>Linguagem ou Framework</th>
            <th>Data Projetos</th>
            <th>Commits</th>

          </tr>
        </thead>
        <tbody>
          <tr class="center" *ngFor="let curso of cursos">
            <td>{{ curso.nomeProj }}</td>
            <td><img src="{{ curso.lfp }}" alt ="sem foto" /></td>
            <td>{{ curso.data }}</td>
            <td>{{ curso.commit }}</td>
            <td>
              <span class="float-right">
                <button class="btn btn-dark mb-1 btn-sm">
                  <a href="{{ curso.linkProj }}" target="_blank"
                    >gitHub</a
                  >
                <svg id="i-github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32">
                    <path stroke-width="0" fill="currentColor" d="M32 0 C14 0 0 14 0 32 0 53 19 62 22 62 24 62 24 61 24 60 L24 55 C17 57 14 53 13 50 13 50 13 49 11 47 10 46 6 44 10 44 13 44 15 48 15 48 18 52 22 51 24 50 24 48 26 46 26 46 18 45 12 42 12 31 12 27 13 24 15 22 15 22 13 18 15 13 15 13 20 13 24 17 27 15 37 15 40 17 44 13 49 13 49 13 51 20 49 22 49 22 51 24 52 27 52 31 52 42 45 45 38 46 39 47 40 49 40 52 L40 60 C40 61 40 62 42 62 45 62 64 53 64 32 64 14 50 0 32 0 Z" />
                </svg>
                </button>
                <button
                  class="btn btn-outline-primary mb-1 "
                  (click)="onEdit(curso.id)"
                >
                  Editar
                </button>
                <button
                  class="btn btn-outline-danger mb-1"
                  (click)="onDelete(curso)"
                >
                  Deletar
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #loading>
        <span>Carregando projetos...</span>
      </ng-template>
    </div>
  </div>
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Deseja remover este projeto?</p>
      <button type="button" class="btn btn-success" (click)="onConfirmDelete()">
        Sim
      </button>
      <button type="button" class="btn btn-danger" (click)="onDeclineDelete()">
        Não
      </button>
    </div>
  </ng-template>
</body>
