.body{
  background-color: brown;
  width: 100%;
  right: 100%;
}

img {
  width: 50px;
  right: 50px;
  display: block;
  margin: auto;
}

.center{
  text-align: center;
}
button{
  font-weight: bold;
  border-radius: 20px;
}

