.login {
  text-align: center;
  font-size: 36px;
  font-style: italic;
  margin-top: 15px;
  font-family: monospace;
}
.borda {
  border: solid 3px blue;
  margin-left: 700px;
  margin-right: 700px;
  margin-top: 80px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  margin-top: 20%;
  width: 100%;
}

.example-full-width {
  width: 51%;
  margin-left: 25%;
}

.botao {
  margin: 8px 8px 8px 17px;
  padding: 0px 125px 0px 125px;
  font-weight: bold;
  font-size: 17px;
  font-family: monospace;
}

.parada{
  font-size: 10px;
  padding: 0px 125px 0px 125px;
  font-weight: bold;

}
