
<body class="body">
  <div class="card">
    <div class="card-header body">
      <div class="float-left">
        <h4>BootCamps</h4>
      </div>
      <div class="float-right">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['cadastro']"
        >
          Novo Curso
        </button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">
          Atualizar
        </button>
      </div>
    </div>
    <div class="card-body">
      <table
        class="table table-hover"
        *ngIf="cursos$ | async as cursos; else loading"
      >
        <thead>
          <tr class="center">
            <th>Instituição de ensino</th>
            <th>Bootcamps</th>
            <th>Descrição</th>
            <th>Data bootcamps </th>
            <th>Quantidate Horas</th>
            <th>Certificados</th>
          </tr>
        </thead>
        <tbody>
          <tr class="center" *ngFor="let curso of cursos">
            <td>{{ curso.instituicao }}</td>
            <td>{{ curso.cursos }}</td>
            <td>{{ curso.descricao }}</td>
            <td>{{ curso.data }}</td>
            <td>{{ curso.cargaH }}</td>
            <td><img src="{{ curso.urlFoto }}" alt="sem foto" /></td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-success mb-1 btn-sm">
                  <a href="{{ curso.linkCurso }}" target="_blank"
                    >Certificado</a
                  >
                </button>
                <button
                  class="btn btn-outline-primary mb-1 btn-sm"
                  (click)="onEdit(curso.id)"
                >
                  Editar
                </button>
                <button
                  class="btn btn-outline-danger mb-1 btn-sm"
                  (click)="onDelete(curso)"
                >
                  Deletar
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #loading>
        <span>Carregando Bootcamps...</span>
      </ng-template>
    </div>
  </div>
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p>Deseja remover este ?</p>
      <button type="button" class="btn btn-success" (click)="onConfirmDelete()">
        Sim
      </button>
      <button type="button" class="btn btn-danger" (click)="onDeclineDelete()">
        Não
      </button>
    </div>
  </ng-template>
</body>
