.body{
  background-color: brown;
  width: 100%;
  right: 100%;
}

img {
  width: 20%;
  right: 20%;
  display: block;
  margin: auto;
}

/* tr{
  border: black;
} */

.center{
  text-align: center;
}

.margin{
  margin-left: 10px;
}
